@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto;
    color: rgba(0,0,0,0.87)
}
/* Waarom moet ik hieronder kleur nogmaals aangeven, anders wordt ie blauw */
a {
    text-decoration: none;
    color: rgba(0,0,0,0.87); 
}
.navbar {
    margin-top: 18px;
}

.navbar  ul {
    
    display:flex;
    justify-content: flex-end;
    list-style-type: none;
    font-size: 80%;
    
    
}
    li {
        margin: 5px;
        margin-right: 20px;
        
    }

.talpa {
    width: 25px;
    position: relative;
    bottom: 5px;
    
}

.login-button {
    position: relative;
    bottom: 3px;
    color: white;
    background-color: #1a73e8;
    padding: 0.8em 1.8em;
    border-radius: 0.3em;
}

.middle {
    margin: auto;
    position: center ;
    display: grid;
}